[Unit]
Description=Arklone - rclone sync for ArkOS
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
UMask=000
StandardOutput=journal+console
ExecStart=/opt/arklone/src/rclone/scripts/sync-one-dir.sh "send" "%I"

[Install]
WantedBy=multi-user.target
