[Unit]
Description=arklone - receive sync service
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
UMask=000
ExecStart=/opt/arklone/src/rclone/scripts/sync-all-dirs.sh "receive"

[Install]
WantedBy=multi-user.target
