[Unit]
Description=arklone - boot sync service
Requires=network-online.target
# Run after plymouth splash screen
# Use plymouth-quit.service because
# plymouth-quit-wait.service Wants display-manager.service
After=network-online.target plymouth-quit.service
# Run before emulationstation or display-manager starts
Before=emulationstation.service display-manager.service

[Service]
Type=oneshot
UMask=000
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYReset=yes
TTYVHangup=yes
# Run on tty2 to override display-manager in ExecStart script
# Script calls `chvt 2` before executing, and resets with `chvt 1` before exit
TTYPath=/dev/tty2
ExecStart=/opt/arklone/dialogs/input-listener.sh "/opt/arklone/dialogs/boot-sync.sh"
# Keep process active so arkloned@ services are aware of it
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
