[Unit]
Description=arklone - boot sync service
Requires=network-online.target
Before=emulationstation.service display-manager.service
After=network-online.target plymouth-quit.service

[Service]
Type=oneshot
User=ark
Group=ark
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYReset=yes
TTYVHangup=yes
TTYPath=/dev/tty2
ExecStart=/opt/joy2key/listen.sh "/opt/arklone/dialogs/boot-sync.sh"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
